.App {
  width: 100%;
  min-width: 350px;
}
.loading-anim
{
height: 100vh;
width: 100%;
background-color: #191e27;
position: fixed;
z-index: 11;
animation: loading_anim_fixed 3.6s ease forwards;
display: flex;
justify-content: center;
align-items: center;
}

@keyframes loading_anim_fixed
{
  0% {
    z-index: 11;
  }
  85%{
    opacity: 1;
  }
  99% {
    z-index: 11;
  }
  100%{
    z-index: -11;
    opacity: 0;
  }
}


.loadingOuter {
	position: relative;
	width: 256px;
	height: 4px;
	background: rgba(255, 255, 255, 0.2);
}

.loadingInner {
	position: absolute;
	width: 0px;
	height: 4px;
	left: 0px;
	background: rgba(255, 255, 255, 0.2);
	animation: 2s infinite linear loadingAnimation;
}

@keyframes loadingAnimation {
	0% {
		left: 0px;
		width: 0px;
	}
	
	25% {
		left: 0px;
		width: 100px;
	}
	
	70% {
		left: 200px;
		width: 56px;
	}
	
	90% {
		left: 256px;
		width: 0px;
	}
}